<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ViewAnimation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5B0C34E41F0902A6001CAC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0C34F81F0902A6001CAC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5B0C35031F0902A6001CAC5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
